<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
<h3> a table</h3>
    
<table id="table1" ></table> 
    
    
<script type="text/javascript">
    
var th,tr,td1,td2;
$(document).ready(function(){
	   $.get("/getItems/1", function(obj, status){
           console.log(obj);
         th="<tr><th>ID</th><th>UNITID</th><th>INSTNM</th><th>ADDR</th><th>CITY</th></tr>";
           $("#table1").append(th);
    for(var i=0;i<obj.length;i++)
    {
         tr="<tr>";
         td1="<td>"+obj[i]["ID"]+"</td>";
        td2="<td>"+obj[i]["INSTNM"]+"</td></tr>";
        

       $("#table1").append(tr+td1+td2);   

    }   
    
       });
});

</script>


</body>
</html>
