<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
<h3> A table</h3>
    
<table id="table1" style="background:#98bf21;height:50px;width:150px;position:absolute" >
    
    <tr>
        <th>ID</th>
        <th>UNITID</th>
        <th>INSTITUTION NAME</th>
        <th>ADDRESS</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>ZIP</th>
  </tr>
           
    
</table> 
    
    
<script type="text/javascript">
    var th,tr,td1,td2;
      
    $(document).ready(function(){

        localStorage.setItem('p','1')

        var func=setInterval(funCall,500);
    
        function funCall(){  
           var counter=localStorage.getItem('p'); 

            var count=parseInt(counter);

         if(count == 148) {

                  clearInterval(func);
             } 

               $.get("/getItems/"+count, function(data){


                 tr="<tr>";
                td1="<td>"+data["ID"]+"</td>";
                td2="<td>"+data["UNITID"]+"</td>";
                td3="<td>"+data["INSTNM"]+"</td>";
                td4="<td>"+data["ADDR"]+"</td>";
                td5="<td>"+data["CITY"]+"</td>";
                td6="<td>"+data["STABBR"]+"</td>";
                td7="<td>"+data["ZIP"]+"</td></tr>";
                  $("#table1").append(tr+td1+td2+td3+td4+td5+td6+td7); 
                   $('tr').fadeIn("slow");
                   
                 var rowCount = $('#table1 tr').length; 
                console.log(rowCount);
               
                   
                $('#table1') .animate({
                    left: '250px',
                    opacity: '0.5',
                    height: '50px',
                    width: '150px'
                 });
                if(rowCount>=20)
                {
                    removeFirstRowAndAppendNewItem(data)

                }

                function removeFirstRowAndAppendNewItem(data)
                {
                  console.log("in callback"); // to confirm we have reached here
                    $("table#table1 tr:nth-child(2)").remove();
                    

                }   





               });


            counter=parseInt(counter);
            counter+=1;
            counter=counter.toString();


            localStorage.setItem('p',counter);

        }
        });

</script>


</body>
</html>
