<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
<h3> A table</h3>
    
<table id="table1" >
    
    <tr>
        <th>ID</th>
        <th>UNITID</th>
        <th>INSTNM</th>
        <th>ADDR</th>
        <th>CITY</th>
  </tr>
           
    
</table> 
    
    
<script type="text/javascript">
    
var th,tr,td1,td2;

    
localStorage.setItem('p','1')
    
var func=setInterval(funcCall,500);
    
    
    
function funcCall(){  
   var counter=localStorage.getItem('p'); 
    console.log(counter);
    var count=parseInt(counter);
      
 if(count <= 148) {
 
          clearInterval(func);
     } 
$(document).ready(function(){
	   $.get("/getItems/"+count, function(response, status){
           console.log(response);
           
           for(var i=0;i<obj.length;i++)
    {
         tr="<tr>";
         td1="<td>"+obj[i]["ID"]+"</td>";
        td2="<td>"+obj[i]["INSTNM"]+"</td></tr>";
        

       $("#table1").append(tr+td1+td2);   
            
            } 
           
           
         
    
       });
});
    
    counter=parseInt(counter);
    counter+=1;
    counter=counter.toString();
    
    
    localStorage.setItem('p',counter);
    
}

</script>


</body>
</html>
