<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
<h3> a table</h3>
    
<table id="table1" ></table> 
    
    
<script type="text/javascript">
    
var th,tr,td1,td2;
$(document).ready(function(){
	   $.get("/getItems/1", function(response, status){
           console.log(response);
           th="<tr><th>ID</th><th>UNITID</th><th>INSTNM</th><th>ADDR</th><th>CITY</th></tr>";
           $("#table1").append(th);
           var obj = jQuery.parseJSON(response);
        $.each(obj, function(key,value) {
            
            tr="<tr>";
         td1="<td>"+value.ID+"</td>";
        td2="<td>"+value.INSTNM+"</td></tr>";
        

       $("#table1").append(tr+td1+td2);
            
            }); 
           
           
         
    
       });
});

</script>


</body>
</html>
